<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobileapp.nu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NUmobileappp"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".SupportActivity"
            android:exported="false" />
        <activity
            android:name=".teacher_3"
            android:exported="false" />
        <activity
            android:name=".teacher_2"
            android:exported="false" />
        <activity
            android:name=".teacher_1"
            android:exported="false" />
        <activity
            android:name=".cloudtest"
            android:exported="false" />
        <activity
            android:name=".fetchdata"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".SqlActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".AdminLoginActivity"
            android:exported="false" />
        <activity
            android:name=".AccountActivity"
            android:exported="false" />
        <activity
            android:name=".LogoutActivity"
            android:exported="false"
            android:label="@string/title_activity_logout"
            android:theme="@style/Theme.NUmobileappp.NoActionBar" />
        <activity
            android:name=".BookedHomeActivity"
            android:exported="false" />
        <activity
            android:name=".BookingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".DailyCalendarActivity"
            android:exported="false" />
        <activity
            android:name=".EventEditActivity"
            android:exported="false" />
        <activity
            android:name=".weekViewActivity"
            android:exported="false" />
        <activity
            android:name=".CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.NUmobileappp.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>